@model NoteModel

@{
    ViewData["Title"] = "Edit Note"; 
 }
      <h1><span>Edit Your Note</span></h1>
    
      <form asp-action="NoteEditor" method="post">
          <div>
              <label asp-for="Subject">Subject</label>
              <input asp-for="Subject" />
          </div>

          <div>
              <label asp-for="Detail">Your Note</label>
              <textarea asp-for="Detail" id="TextArea"></textarea>
          </div>
          <a asp-action="NoteDetail" asp-route-id="@Model.Id">Cancel</a>
          <button type="submit">Save Note</button>
          
      </form>
 
