@model IEnumerable<NoteModel>
@{
    ViewData["Title"] = "Search Note";
    var label = "please type a subject of a note";
}
<h1>@ViewData["Title"]</h1>

@if (Model.Any())
{
    @foreach (NoteModel noteModel in Model)
    {
        <div>
            <a asp-action="NoteDetail" asp-route-id="@noteModel.Id">
                <div>
                    @noteModel.Subject
                </div>
            </a>
        </div>
    }
}


<form asp-action="Search" method="post">
    <label>@label</label>
    <input name="subject">
    <input type="submit" value="Search">
</form>