@model NoteModel
@{
    ViewData["Title"] = "The Number you typed is";
    var label = "please type an number";
}
<h1>@ViewData["Title"]</h1>

<p>@Model.Subject</p>

<form asp-action="FindNote" method="post">
    <label>@label</label>
    <input name="subject" value="@Model.Subject">
    <input type="submit" value="Submit">
</form>